/*.container{*/
/*    !*position: absolute;*!*/
/*    top: 70%;*/
/*    left: 78%;*/
/*    transform: translate(-50%,-50%);*/
/*}*/
/*.login-form{*/
/*    height: 420px;*/
/*    width: 350px;*/
/*    border-radius: 10px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    background: black;*/
/*    box-shadow: 0 0 10px #3498db;*/
/*    color: #fff;*/
/*    padding-top: 60px;*/
/*    margin-top: 12px;*/
/*}*/
/*.box{*/
/*    position: absolute;*/
/*    width: 150px;*/
/*    text-align: center;*/

/*}*/
/*.box input[type="text"],.box input[type="password"]{*/
/*    border: 0;*/
/*    background: none;*/
/*    display: block;*/
/*    margin: 30px auto;*/
/*    text-align: center;*/
/*    border: 2px solid #3498db;*/
/*    padding: 14px 10px;*/
/*    width: 200px;*/
/*    margin-left: 77px;*/
/*    outline: none;*/
/*    color: white;*/
/*    border-radius: 24px;*/
/*    transition: 0.25s;*/
/*    transform: translate(-50%,-50%);*/
/*}*/
/*.box input[type="text"]:focus,.box input[type="password"]:focus{*/
/*    width: 280px;*/
/*    border-color: #2ecc71;*/
/*}*/
/*.box input[type="submit"]{*/
/*    border: 0;*/
/*    background: none;*/
/*    display: block;*/
/*    margin: 30px auto;*/
/*    text-align: center;*/
/*    border: 2px solid #2ecc71;*/
/*    padding: 14px 40px;*/
/*    outline: none;*/
/*    color: white;*/
/*    border-radius: 24px;*/
/*    transition: 0.25s;*/
/*}*/
/*.box input[type="submit"]:hover{*/
/*    background:#2ecc71 ;*/
/*}*/
/*.box h1{*/
/*    margin: -20px 0 70px 0;*/
/*    color: #3498db;*/
/*    text-shadow: 3px 3px 20px #3498db;*/
/*}*/
/*.close{*/
/*    float: right;*/
/*    margin: -50px -80px 0 0;*/
/*    color: #3498db;*/
/*}*/
