<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Blog</title>
</head>
<body>
<p>
    <a th:href="@{/}">
        Back to blog list
    </a>
</p>
<form action="/blog/create" method="post" th:object="${blog}">
    <label>ID :
        <input type="text" th:field="*{id}"/>
    </label><br><br>

    <label>Name :
        <input type="text" th:field="*{name}" />
    </label><br><br>

    <label>Content :
        <textarea th:field="*{content}"></textarea>
    </label>
    <br><br>

    <input type="submit" value="Create" />
</form>
</body>
</html>