<div class="main-content">
  <br>
  <div class="container-fluid">
    <h2>QUẢN LÝ VÉ</h2>
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Biển số xe</th>
        <th>Tên khách hàng</th>
        <th>Loại vé</th>
        <th>Ngày bắt đầu</th>
        <th>Ngày kết thúc</th>
        <th>Giá</th>
        <th>Tầng</th>
<!--        <th>Vị trí</th>-->
        <th>Tác vụ</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let memberCard of memberCardList">
        <td>{{memberCard.car.plateNumber}}</td>
        <td>{{memberCard.car.customer.fullName}}</td>
        <td>{{memberCard.memberCardType.memberTypeName}}</td>
        <td>{{memberCard.startDate | date: 'dd-MM-yyyy'}}</td>
        <td>{{memberCard.endDate | date: 'dd-MM-yyyy'}}</td>
        <td>{{memberCard.price}}</td>
        <td>{{memberCard.car.parkingSlot}}</td>
<!--        <td>{{memberCard.car.parkingSlot.id}}</td>-->
        <td>
          <div class="d-flex justify-content-center">
            <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons"
                                                                             data-toggle="tooltip"
                                                                             title="Edit">&#xE254;</i></a>
            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons"
                                                                                 data-toggle="tooltip"
                                                                                 title="Delete">&#xE872;</i></a>
          </div>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</div>

