<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <img style="width: 30%;padding: 15px"
                     src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQlTaPPCcmHWMt6vGZ5QyfBTCSLcbmOys20dg&usqp=CAU">
            </div>
            <div class="col-3"></div>
            <div class="col-3"></div>
        </div>
    </div>
</div>
<nav>
    <ul>
        <li><a href="/home">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Home
        </a>
        </li>
        <li>
            <a href="/employee">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Employee
            </a>
        </li>
        <li><a href="/customer">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Customer
        </a>
        </li>
        <li><a href="/services">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Service
        </a>
        </li>
        <li><a href="/contract">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Contract
        </a>
        </li>
    </ul>
</nav>
</body>
</html>