<div *ngIf="studentChild">
  <div class="card" style="width:400px">
    <div class="container">
      <div style="max-width: 100%">
        <h3 style="color: red; text-shadow: 2px 2px 8px blue; text-align: center">Student Information</h3>
      </div>
      <div class="card-body">
        <p class="card-text">Id: {{studentChild.id}}</p>
        <h4 class="card-title">Name: <span style="color: red">{{studentChild.name}}</span></h4>
        <p class="card-text">Age: {{studentChild.age}}</p>
        <p class="card-text">Điểm: {{studentChild.mark}}</p>
        <p>Chấm điểm</p> <input class="form-control" type="number" (change)="getInputMark($event.target.value)" min="0"
                                max="10">
      </div>
    </div>
  </div>
</div>








