.fixed-header{
  width: 10%;
  position: fixed;
  bottom: 0px;
  right: 0px;
}
.fixed-header span{
  position: fixed;
  right: 0px;
}


.btn {
  margin-right: 0.5rem !important
}

.btn {
  font-size: 0.875rem;
  line-height: 1;
  font-weight: 400;
  padding: .7rem 1.5rem;
  border-radius: 0.1275rem
}

.container {
  margin-top: 100px
}

.toast {
  transition: 0.32s all ease-in-out
}

.toast-container--fade {
  right: 0;
  bottom: 0
}

.toast-container--fade .toast-wrapper {
  display: inline-block
}

.toast.fade-init {
  opacity: 0
}

.toast.fade-show {
  opacity: 1
}

.toast.fade-hide {
  opacity: 0
}
