<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head">
</head>
<body>

<th:block th:include="/menu"></th:block>

<div class="modal-dialog">
    <div class="modal-content">
        <form th:action="@{/services/save}" method="post" th:object="${service}">
            <div class="modal-header">
                <h4 class="neon" style="margin: 0">Add New Service</h4>
                <a href="/services">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </a>
            </div>
            <div class="modal-body">
                <div class="form-group">

                    <label>Service code :</label>
                    <input type="text" class="form-control" th:field="*{idService}">
                    <div><p style="color:red;" th:if="${#fields.hasErrors('idService')}" th:errors="*{idService}"></p></div>
                </div>
                <div class="form-group">
                    <label>Name :</label>
                    <input type="text" class="form-control" th:field="*{nameService}">
                </div>
                <div class="form-group">
                    <label>Area :</label>
                    <input type="text" class="form-control" th:field="*{area}">
                    <div><p style="color:red;" th:if="${#fields.hasErrors('area')}" th:errors="*{area}"></p></div>
                </div>

                <div class="form-group">
                    <label>Floor : </label>
                    <input type="text" class="form-control" th:field="*{floor}">
                    <div><p style="color:red;" th:if="${#fields.hasErrors('floor')}" th:errors="*{floor}"></p></div>
                </div>
                <div class="form-group">
                    <label>Number of people : </label>
                    <input type="text" class="form-control" th:field="*{numberOfPeople}">
                </div>
                <div class="form-group">
                    <label>Cost : </label>
                    <input type="text" class="form-control" th:field="*{cost}">
                    <div><p style="color:red;" th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}"></p></div>
                </div>
                <div class="form-group">
                    <label>Status : </label>
                    <input type="text" class="form-control" th:field="*{status}">
                </div>
                <div class="form-group">
                    <label>Rent Type :</label>
                    <select name="rentType" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" th:field="*{rentType}">
                        <option th:each="rent :${rentType}" th:value="${rent.id}"
                                th:text="${rent.nameRentType}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Service Type :</label>
                    <select name="serviceType" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" th:field="*{serviceType}">
                        <option th:each="ser :${serviceType}" th:value="${ser.id}"
                                th:text="${ser.nameServiceType}"></option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <a href="/services"><input type="button" class="cancel" value="Cancel"></a>
                <input type="submit" class="add" value="Add">
            </div>
        </form>
    </div>
</div>
</div>
</body>
</html>