
<!-- Hero Section Begin -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="hero__categories">
          <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <span>Tất cả thực phẩm</span>
          </div>
          <ul>
            <li><a href="#">Thịt tươi sống</a></li>
            <li><a href="#">Trái cây</a></li>
            <li><a href="#">Rau củ quả</a></li>
            <li><a href="#">Trứng</a></li>
            <li><a href="#">Thực phẩm đại dương</a></li>
            <li><a href="#">Bánh kẹo</a></li>
            <li><a href="#">Nước uống</a></li>
            <li><a href="#">Các sản phẩm khô</a></li>
            <li><a href="#">Vàng mã</a></li>
            <li><a href="#">Quần áo</a></li>
            <li><a href="#">Đồ chơi trẻ em</a></li>
            <li><br></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="hero__search">
          <div class="hero__search__form">
            <form action="#">
              <div class="hero__search__categories">
                Tất cả danh mục
                <span class="arrow_carrot-down"></span>
              </div>
              <input type="text" placeholder="Bạn cần gì?" #inputSearch>
              <button type="button" class="site-btn" (click)="searchGoods(inputSearch.value)">Tìm kiếm</button>
            </form>
          </div>
          <div class="hero__search__phone">
            <div class="hero__search__phone__icon">
              <i class="fa fa-phone"></i>
            </div>
            <div class="hero__search__phone__text">
              <h5>+84 90.899.899</h5>
              <span>Thời gian hỗ trợ 24/7</span>
            </div>
          </div>
        </div>
        <div class="hero__item set-bg" style="background-image: url('../../../../assets/img/hero/banner.jpg')">
          <div class="hero__text">
            <span>THỰC PHẨM SẠCH</span>
            <h2>Rau <br />100% Hữu Cơ</h2>
            <p>Nhận và giao hàng miễn phí có sẵn</p>
            <a [routerLink]="['/list-goods']" class="primary-btn">MUA NGAY</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero Section End -->
<!-- Featured Section Begin -->
<section class="featured spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>Sản phẩm nổi bật</h2>
        </div>
        <div class="featured__controls">
          <ul>
            <li class="active" data-filter="*">Tất cả</li>
            <li data-filter=".oranges">Trái cây</li>
            <li data-filter=".fresh-meat">Thịt tươi sống</li>
            <li data-filter=".vegetables">Rau</li>
            <li data-filter=".fastfood">Bánh</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row featured__filter">
      <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
        <div class="featured__item">
          <div class="featured__item__pic set-bg" style="background-image: url('../../../../assets/img/featured/feature-1.jpg')">
            <ul class="featured__item__pic__hover">
              <li><a href="#"><i class="fa fa-heart"></i></a></li>
              <li><a href="#"><i class="fa fa-retweet"></i></a></li>
              <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
          </div>
          <div class="featured__item__text">
            <h6><a href="#">Crab Pool Security</a></h6>
            <h5>$30.00</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fastfood">
        <div class="featured__item">
          <div class="featured__item__pic set-bg" style="background-image: url('../../../../assets/img/featured/feature-2.jpg')">
            <ul class="featured__item__pic__hover">
              <li><a href="#"><i class="fa fa-heart"></i></a></li>
              <li><a href="#"><i class="fa fa-retweet"></i></a></li>
              <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
          </div>
          <div class="featured__item__text">
            <h6><a href="#">Crab Pool Security</a></h6>
            <h5>$30.00</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fresh-meat">
        <div class="featured__item">
          <div class="featured__item__pic set-bg" style="background-image: url('../../../../assets/img/featured/feature-3.jpg')">
            <ul class="featured__item__pic__hover">
              <li><a href="#"><i class="fa fa-heart"></i></a></li>
              <li><a href="#"><i class="fa fa-retweet"></i></a></li>
              <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
          </div>
          <div class="featured__item__text">
            <h6><a href="#">Crab Pool Security</a></h6>
            <h5>$30.00</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood oranges">
        <div class="featured__item">
          <div class="featured__item__pic set-bg" style="background-image: url('../../../../assets/img/featured/feature-4.jpg')">
            <ul class="featured__item__pic__hover">
              <li><a href="#"><i class="fa fa-heart"></i></a></li>
              <li><a href="#"><i class="fa fa-retweet"></i></a></li>
              <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
          </div>
          <div class="featured__item__text">
            <h6><a href="#">Crab Pool Security</a></h6>
            <h5>$30.00</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mix fresh-meat vegetables">
        <div class="featured__item">
          <div class="featured__item__pic set-bg" style="background-image: url('../../../../assets/img/featured/feature-5.jpg')">
            <ul class="featured__item__pic__hover">
              <li><a href="#"><i class="fa fa-heart"></i></a></li>
              <li><a href="#"><i class="fa fa-retweet"></i></a></li>
              <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
          </div>
          <div class="featured__item__text">
            <h6><a href="#">Crab Pool Security</a></h6>
            <h5>$30.00</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fastfood">
        <div class="featured__item">
          <div class="featured__item__pic set-bg" style="background-image: url('../../../../assets/img/featured/feature-6.jpg')">
            <ul class="featured__item__pic__hover">
              <li><a href="#"><i class="fa fa-heart"></i></a></li>
              <li><a href="#"><i class="fa fa-retweet"></i></a></li>
              <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
          </div>
          <div class="featured__item__text">
            <h6><a href="#">Crab Pool Security</a></h6>
            <h5>$30.00</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mix fresh-meat vegetables">
        <div class="featured__item">
          <div class="featured__item__pic set-bg" style="background-image: url('../../../../assets/img/featured/feature-7.jpg')">
            <ul class="featured__item__pic__hover">
              <li><a href="#"><i class="fa fa-heart"></i></a></li>
              <li><a href="#"><i class="fa fa-retweet"></i></a></li>
              <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
          </div>
          <div class="featured__item__text">
            <h6><a href="#">Crab Pool Security</a></h6>
            <h5>$30.00</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood vegetables">
        <div class="featured__item">
          <div class="featured__item__pic set-bg" style="background-image: url('../../../../assets/img/featured/feature-8.jpg')">
            <ul class="featured__item__pic__hover">
              <li><a href="#"><i class="fa fa-heart"></i></a></li>
              <li><a href="#"><i class="fa fa-retweet"></i></a></li>
              <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
          </div>
          <div class="featured__item__text">
            <h6><a href="#">Crab Pool Security</a></h6>
            <h5>$30.00</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Featured Section End -->
<!-- Banner Begin -->
<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="banner__pic">
          <img src="../../../../assets/img/banner/banner-1.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="banner__pic">
          <img src="../../../../assets/img/banner/banner-2.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner End -->
<!-- Blog Section Begin -->
<section class="from-blog spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title from-blog__title">
          <h2>Các bài viết</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="blog__item">
          <div class="blog__item__pic">
            <img src="../../../../assets/img/blog/blog-1.jpg" alt="">
          </div>
          <div class="blog__item__text">
            <ul>
              <li><i class="fa fa-calendar-o"></i> Tháng 4,2019</li>
              <li><i class="fa fa-comment-o"></i> 5</li>
            </ul>
            <h5><a href="#">Mẹo nấu ăn giúp nấu ăn đơn giản</a></h5>
            <p>Tuy nhiên, có những lúc bạn nên làm việc và buồn phiền, một số tuyệt vời và bình phương chúng để tìm kiếm các phương thức của thời đại </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="blog__item">
          <div class="blog__item__pic">
            <img src="../../../../assets/img/blog/blog-2.jpg" alt="">
          </div>
          <div class="blog__item__text">
            <ul>
              <li><i class="fa fa-calendar-o"></i> Tháng 4,2019</li>
              <li><i class="fa fa-comment-o"></i> 5</li>
            </ul>
            <h5><a href="#">6 cách chuẩn bị bữa sáng cho 30</a></h5>
            <p>Tuy nhiên, có những lúc bạn nên làm việc và buồn phiền, một số tuyệt vời và bình phương chúng để tìm kiếm các phương thức của thời đại</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="blog__item">
          <div class="blog__item__pic">
            <img src="../../../../assets/img/blog/blog-3.jpg" alt="">
          </div>
          <div class="blog__item__text">
            <ul>
              <li><i class="fa fa-calendar-o"></i> Tháng 4,2019</li>
              <li><i class="fa fa-comment-o"></i> 5</li>
            </ul>
            <h5><a href="#">Tham quan trang trại sạch ở Mỹ</a></h5>
            <p>Tuy nhiên, có những lúc bạn nên làm việc và buồn phiền, một số tuyệt vời và bình phương chúng để tìm kiếm các phương thức của thời đại</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Blog Section End -->
