<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/create}" method="post" th:object="${registerForm}">
    <input type="hidden" th:field="*{id}">

    <label>First Name:</label>
    <input type="text" th:field="*{firstName}">
    <span style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
    <br/>
    <label>Last Name:</label>
    <input type="text" th:field="*{lastName}">
    <span style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
    <br/>
    <label>Age:</label>
    <input type="text"  th:field="*{age}">
    <span style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
    <br/>
    <label>phoneNumber:</label>
    <input type="text"  th:field="*{phone}">
    <span style="color: red" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
    <br/>
    <label>email:</label>
    <input type="text"  th:field="*{email}">
    <span style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    <br/>
    <button type="submit">Submit</button>
</form>
</body>
</html>