ul li {
  font-family:arial;
  font-size:12px;
  display:inline-block;
  text-align:center;
  width:100px;
}
span {
  display:block;
}
i{
  vertical-align:middle;
  padding:4px;
  margin:4px;
  line-height:24px;
  border:1px dotted gray;
}

i:hover {
  background:cyan;
  Border:1px solid gray;
}
span i {
  display:block;
}
