<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head">

</head>
<body>

<th:block th:include="/menu"></th:block>
<div>
    <div class="content" style="height: 80vh">
        <div class="container-fluid">
            <div class="row" >
                <div class="col-2" style="display: flex;flex-direction: column" >
                    <!--                <a class="btn btn-primary mt-1" href="#addEmployeeModal" data-toggle="tooltip">Item 1</a>-->
                    <a href="/services/create"class="a" style="margin-top: 70px"><i class="fa fa-plus"></i> Add New Service</a>
                </div>
                <div class="col-10">
                    <h2 class="neon" data-text="List Of Customer">List Of Service</h2>
                    <form action="/services">
                        <div class="search-box">
                            <input class="search-txt" type="text" name="search" placeholder="Type to search" th:value="${search}">
                            <button class="search-btn" ><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </form>
                    <div class="notify" style="color: red ;text-align: center">
                        <div th:if="${success}">
                            <span th:text="${success}"></span>
                        </div>
                    </div>
                    <table class="table table-striped">
                        <thead class="thead-dark" >
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Area</th>
                            <th scope="col">Floor</th>
                            <th scope="col">Number of people</th>
                            <th scope="col">Cost</th>
                            <th scope="col">Status</th>
                            <th scope="col">Rent Type</th>
                            <th scope="col">Service Type</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody style="background-color: #f7f5f2">
                        <tr class="contentPage" th:each="services : ${service}">
                            <th th:text="${services.idService}"></th>
                            <th th:text="${services.nameService}"></th>
                            <th th:text="${services.area}"></th>
                            <th th:text="${services.floor}"></th>
                            <th th:text="${services.numberOfPeople}"></th>
                            <th th:text="${services.cost}"></th>
                            <th th:text="${services.status}"></th>
                            <th th:text="${services.rentType.nameRentType}"></th>
                            <th th:text="${services.serviceType.nameServiceType}"></th>
                            <td>
                                <a  th:href="@{/services/{id}/edit(id=${services.getIdService()})}"  title="Edit" ><i class="material-icons">&#xE254;</i></a>
                                <a th:href="@{/services/{id}/delete(id=${services.getIdService()})}"  title="Delete" ><i style="color: red" class="material-icons">&#xE872;</i></a>
                            </td>
                        </tr>
                        </c:forEach>
                        </tbody>
                    </table>
                    <label class="page-label">
                    <a th:href="@{'/'(page=${service.number - 1},search=${search})}" th:if="${service.hasPrevious()}">Previous</a>
                    <span th:text="${service.number + 1}"style="color: red"></span>/<span th:text="${service.totalPages}" style="color: red"></span>
                    <a th:href="@{'/'(page=${service.number + 1},search=${search})}" th:if="${service.hasNext()}">Next</a>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="footer" >
        <div class="container-fluid">
            <div class="row" >
                <p></p>
            </div>
        </div>
    </div>
</div>

</body>
</html>