
<div class="fixed-header btn-icon-text animatebutton"  id="animatebutton">
  <a [routerLink]="['/bill-goods']"><img src="../../../../assets/img/image-cart.png" height="100" width="150" /></a>
  <span class="badge badge-danger" *ngIf="listGoodsCart; else block">{{listGoodsCart.length}} +</span>
  <ng-template #block>
    <span class="badge badge-danger">0 +</span>
  </ng-template>
</div>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" style="background-image: url('../../../../assets/img/breadcrumb.jpg'); height: 100px">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>Chi tiết sản phẩm</h2>
          <div class="breadcrumb__option">
            <a href="#">Trang chủ</a>
            <a href="#">Sản phẩm</a>
            <span>Rau củ quả</span>
          </div>
        </div>
      </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Product Details Section Begin -->
<section class="product-details spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="product__details__pic">
          <div class="product__details__pic__item">
            <img class="product__details__pic__item--large"
                 src="{{goodsCard.image}}" style="width: 200px;height: 450px" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="product__details__text">
          <h3>Sản phẩm {{goodsCard.goodsName}}</h3>
          <div class="product__details__rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <span>(<i class="fas fa-heart" style="color: red"></i>&nbsp;{{countLover}} Lượt thích)</span>
          </div>
          <div class="product__details__price">{{ formatCash(goodsCard.price) +' VNĐ'}}</div>
          <p>{{goodsCard.description}}</p>
          <div class="product__details__quantity">
            <div class="quantity">
              <div class="pro-qty">
                <input type="text" [value]="quantityCart" #myValue (keyup)="getQuantity(myValue.value)">
              </div>
            </div>
          </div>
          <a class="primary-btn" (click)="addToCart(goodsCard,myValue.value)">Thêm vào giỏ</a>
          <a  class="heart-icon" *ngIf="checkLover == false; else blockLover" (click)="setLover(goodsCard.idGoods)"><span class="icon_heart_alt"></span></a>
          <ng-template #blockLover>
            <a  class="heart-icon" ><span class="icon_heart_alt font-weight-bold" style="color: red"></span></a>
          </ng-template>

          <ul>
            <li><b>Khả dụng còn</b> <span *ngIf="quantityCart < goodsCard.quantity; else blocka">{{goodsCard.quantity}} (số lượng)</span>
            <ng-template #blocka>
              <span style="color: red">{{goodsCard.quantity}} (số lượng)</span>
            </ng-template>
            </li>
            <li><b>Cân nặng</b> <span>0.5 kg</span></li>
            <li><b>Chia sẻ</b>
              <div class="share">
                <a ><i class="fab fa-facebook"></i></a>
                <a ><i class="fab fa-twitter-square"></i></a>
                <a ><i class="fab fa-instagram"></i></a>
                <a ><i class="fab fa-pinterest-square"></i></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="product__details__tab">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                 aria-selected="true">&nbsp;Miêu tả</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                 aria-selected="false">Thông tin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                 aria-selected="false">Nhận xét <span>(1)</span>&nbsp;</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tabs-1" role="tabpanel">
              <div class="product__details__tab__desc">
                <h6>Thông tin sản phẩm</h6>
                <p>VSản xuất và đường kính cà rốt xe, cà rốt yếu tố, nhưng giá trị nó. Id orci phesiaesque trong anh ta cánh cổng của protein. Mid cần tiếng cười vĩ mô. Trực tiếp nhận nhiệt độ khí cần đổi mới cuối tuần. Sản xuất và đường kính cà rốt xe, cà rốt yếu tố, nhưng giá trị nó. Lập kế hoạch trang điểm cho đến khi sư tử cần libero. Trực tiếp nhận nhiệt độ khí cần đổi mới cuối tuần. Vòng cung trò chuyện đã tài trợ cho lớp này và, tại món salad của hãng hàng không. Trình bày sapien massa, cũng không phải thung lũng, từ những đứa trẻ, trừ khi bạn muốn nhưng không tìm thấy. Sản xuất và đường kính cà rốt xe, cà rốt yếu tố, nhưng giá trị nó. Trước trận bóng rổ đầu tiên khiến họ phải đau buồn và chăm sóc sức khỏe; Thật không may, anh ta sẽ không, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Mid cần tiếng cười vĩ mô.</p>
                <p>Trình bày sapien massa, cũng không phải thung lũng, từ những đứa trẻ, trừ khi bạn muốn nhưng không tìm thấy. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Chuối ngồi nhà phát triển lớn nhất, tincidunt cần một cái gối. Dự trữ tối tân vào ngày mai, nhưng cánh cửa rất tuyệt. Dự trữ tối tân vào ngày mai, nhưng cánh cửa rất tuyệt. Nhưng hãng hàng không đã tốt nghiệp nibh. Chuối ngồi nhà phát triển lớn nhất, tincidunt cần một cái gối. Sản xuất và đường kính cà rốt xe, cà rốt yếu tố, nhưng giá trị nó. Nhưng hãng hàng không đã tốt nghiệp nibh. Sản xuất và đường kính cà rốt xe, cà rốt yếu tố, nhưng giá trị nó. Mid cần tiếng cười vĩ mô.</p>
              </div>
            </div>
            <div class="tab-pane" id="tabs-2" role="tabpanel">
              <div class="product__details__tab__desc">
                <h6>Thông tin sản phẩm</h6>
                <p>Sản xuất và đường kính cà rốt xe, cà rốt yếu tố, nhưng giá trị nó. Id orci phesiaesque trong anh ta cánh cổng của protein. Mid cần tiếng cười vĩ mô. Trực tiếp nhận nhiệt độ khí cần đổi mới cuối tuần. Sản xuất và đường kính cà rốt xe, cà rốt yếu tố, nhưng giá trị nó. Lập kế hoạch trang điểm cho đến khi sư tử cần libero. Trực tiếp nhận nhiệt độ khí cần đổi mới cuối tuần. Vòng cung trò chuyện đã tài trợ cho lớp này và, tại món salad của hãng hàng không. Trình bày sapien massa, cũng không phải thung lũng, từ những đứa trẻ, trừ khi bạn muốn nhưng không tìm thấy. Sản xuất và đường kính cà rốt xe, cà rốt yếu tố, nhưng giá trị nó. Trước trận bóng rổ đầu tiên khiến họ phải đau buồn và chăm sóc sức khỏe; Thật không may, anh ta sẽ không, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Mid cần tiếng cười vĩ mô.</p>
                <p>Trình bày sapien massa, cũng không phải thung lũng, từ những đứa trẻ, trừ khi bạn muốn nhưng không tìm thấy. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Chuối ngồi nhà phát triển lớn nhất, tincidunt cần một cái gối. Dự trữ tối tân vào ngày mai, nhưng cánh cửa rất tuyệt. Dự trữ tối tân vào ngày mai, nhưng cánh cửa rất tuyệt. Nhưng hãng hàng không đã tốt nghiệp nibh. Chuối ngồi nhà phát triển lớn nhất, tincidunt cần một cái gối.</p>
              </div>
            </div>
            <div class="tab-pane" id="tabs-3" role="tabpanel">
              <div class="product__details__tab__desc">
                <h6>Thông tin sản phẩm</h6>
                <p>Sản xuất và đường kính cà rốt xe, cà rốt yếu tố, nhưng giá trị nó. Id orci phesiaesque trong anh ta cánh cổng của protein. Mid cần tiếng cười vĩ mô. Trực tiếp nhận nhiệt độ khí cần đổi mới cuối tuần. Sản xuất và đường kính cà rốt xe, cà rốt yếu tố, nhưng giá trị nó. Lập kế hoạch trang điểm cho đến khi sư tử cần libero. Trực tiếp nhận nhiệt độ khí cần đổi mới cuối tuần. Vòng cung trò chuyện đã tài trợ cho lớp này và, tại món salad của hãng hàng không. Trình bày sapien massa, cũng không phải thung lũng, từ những đứa trẻ, trừ khi bạn muốn nhưng không tìm thấy. Sản xuất và đường kính cà rốt xe, cà rốt yếu tố, nhưng giá trị nó. Trước trận bóng rổ đầu tiên khiến họ phải đau buồn và chăm sóc sức khỏe; Thật không may, anh ta sẽ không, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Mid cần tiếng cười vĩ mô.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Product Details Section End -->
<!-- Related Product Section Begin -->
<section class="related-product">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title related__product__title">
          <h2>Sản phẩm liên quan</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product__item">
          <div class="product__item__pic set-bg" style="background-image: url('../../../../assets/img/product/product-1.jpg')">
            <ul class="product__item__pic__hover">
              <li><a href="#"><i class="fa fa-heart"></i></a></li>
              <li><a href="#"><i class="fa fa-retweet"></i></a></li>
              <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6><a href="#">Crab Pool Security</a></h6>
            <h5>$30.00</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product__item">
          <div class="product__item__pic set-bg" style="background-image: url('../../../../assets/img/product/product-2.jpg')">
            <ul class="product__item__pic__hover">
              <li><a href="#"><i class="fa fa-heart"></i></a></li>
              <li><a href="#"><i class="fa fa-retweet"></i></a></li>
              <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6><a href="#">Crab Pool Security</a></h6>
            <h5>$30.00</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product__item">
          <div class="product__item__pic set-bg" style="background-image: url('../../../../assets/img/product/product-3.jpg')">
            <ul class="product__item__pic__hover">
              <li><a href="#"><i class="fa fa-heart"></i></a></li>
              <li><a href="#"><i class="fa fa-retweet"></i></a></li>
              <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6><a href="#">Crab Pool Security</a></h6>
            <h5>$30.00</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product__item">
          <div class="product__item__pic set-bg"  style="background-image: url('../../../../assets/img/product/product-7.jpg')">
            <ul class="product__item__pic__hover">
              <li><a href="#"><i class="fa fa-heart"></i></a></li>
              <li><a href="#"><i class="fa fa-retweet"></i></a></li>
              <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6><a href="#">Crab Pool Security</a></h6>
            <h5>$30.00</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Related Product Section End -->

