<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
<p>
    <a th:href="@{/blog/create}">
        Add new blog
    </a>
</p>
<table id="blog" border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Content</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="blog : ${blogList}">
    <tr>
        <td th:text="${blog.getId()}"></td>
        <td th:text="${blog.getName()}"></td>
        <td th:text="${blog.getContent()}"></td>
        <td><a th:href="@{/blog/view(id=${blog.getId()})}">view</a></td>
        <td><a th:href="@{/blog/update(id=${blog.getId()})}">edit</a></td>
        <td><a th:href="@{/blog/delete(id=${blog.getId()})}">delete</a></td>
    </tr>
    </th:block>
</table>
</body>
</html>