<div class="container-fluid px-0" style="height: 100vh">
    <a style="font-size: 20px" class="nav-link font-weight-bolder form-control-lg" href="#"></a>
  <div class="row px-0 mx-0" style="height: 92%">
    <div class="col-2 px-0 ">
      <div class="list-group border border-primary rounded  h-100">
        <div class="d-block mr-3 p-3 font-italic" style="font-size: 12px">
        </div>
      </div>
    </div>
    <div class="col-10 px-0 mx-0" style="height: 92%">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
