.container {
  padding: 4px 0rem;
}

@media (min-width: 576px){
  #abc-modal{
    max-width: 450px;
  #abc-modal-content {
    padding: 1rem;
  }
}
}

.modal-header {
.close {
  margin-top: -1.5rem;
}
}

.form-title {
  margin: -2rem 0rem 2rem;
}

.btn-round {
  border-radius: 3rem;
}

.delimiter {
  padding: 1rem;
}

.social-buttons {
.btn {
  margin: 0 0.5rem 1rem;
}
}

.signup-section {
  padding: 0.3rem 0rem;
}

.dropbtn {
  color: black;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 140px;
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}
