
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" style="background-image: url('../../../../assets/img/breadcrumb.jpg'); height: 100px">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>Bài viết</h2>
          <div class="breadcrumb__option">
            <a href="./#">Trang chủ</a>
            <span>Bài viết</span>
          </div>
        </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Blog Section Begin -->
<section class="blog spad mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-5">
        <div class="blog__sidebar">
          <div class="blog__sidebar__search">
            <form action="#">
              <input type="text" placeholder="Tìm kiếm...">
              <button type="submit"><span class="icon_search"></span></button>
            </form>
          </div>
          <div class="blog__sidebar__item">
            <h4>Thể loại</h4>
            <ul>
              <li><a href="#">Tất cả</a></li>
              <li><a href="#">Sắc đẹp (20)</a></li>
              <li><a href="#">Thức ăn (5)</a></li>
              <li><a href="#">Phong cách sống (9)</a></li>
              <li><a href="#">Du lịch (10)</a></li>
            </ul>
          </div>
          <div class="blog__sidebar__item">
            <h4>Tin tức gần đây</h4>
            <div class="blog__sidebar__recent">
              <a href="#" class="blog__sidebar__recent__item">
                <div class="blog__sidebar__recent__item__pic">
                  <img src="../../../../assets/img/blog/sidebar/sr-1.jpg" alt="">
                </div>
                <div class="blog__sidebar__recent__item__text">
                  <h6>09 Loại rau <br /> bảo vệ gan</h6>
                  <span>05/03/2019</span>
                </div>
              </a>
              <a href="#" class="blog__sidebar__recent__item">
                <div class="blog__sidebar__recent__item__pic">
                  <img src="../../../../assets/img/blog/sidebar/sr-2.jpg" alt="">
                </div>
                <div class="blog__sidebar__recent__item__text">
                  <h6>Mẹo giúp bạn cân bằng<br /> Dinh dưỡng trong bữa ăn</h6>
                  <span>05/03/2019</span>
                </div>
              </a>
              <a href="#" class="blog__sidebar__recent__item">
                <div class="blog__sidebar__recent__item__pic">
                  <img src="../../../../assets/img/blog/sidebar/sr-3.jpg" alt="">
                </div>
                <div class="blog__sidebar__recent__item__text">
                  <h6>4 nguyên tắc giúp bạn<br />giảm cân với rau củ</h6>
                  <span>05/03/2019</span>
                </div>
              </a>
            </div>
          </div>
          <div class="blog__sidebar__item">
            <h4>Search By</h4>
            <div class="blog__sidebar__item__tags">
              <a href="#">Rau</a>
              <a href="#">Trái cây</a>
              <a href="#">Lối sống</a>
              <a href="#">Sắc đẹp</a>
              <a href="#">Thức ăn lành mạnh</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-7">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="blog__item">
              <div class="blog__item__pic">
                <img src="../../../../assets/img/blog/blog-2.jpg" alt="">
              </div>
              <div class="blog__item__text">
                <ul>
                  <li><i class="fa fa-calendar-o"></i> Tháng 4 năm 2019</li>
                  <li><i class="fa fa-comment-o"></i> 5</li>
                </ul>
                <h5><a href="#">Mẹo nấu ăn giúp nấu ăn đơn giản</a></h5>
                <p>Tuy nhiên, có những lúc bạn nên làm việc và buồn phiền, một số tuyệt vời và bình phương chúng để tìm kiếm các phương thức của thời đại</p>
                <a href="#" class="blog__btn">ĐỌC THÊM<span class="arrow_right"></span></a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="blog__item">
              <div class="blog__item__pic">
                <img src="../../../../assets/img/blog/blog-3.jpg" alt="">
              </div>
              <div class="blog__item__text">
                <ul>
                  <li><i class="fa fa-calendar-o"></i>Tháng 4 năm 2019</li>
                  <li><i class="fa fa-comment-o"></i> 5</li>
                </ul>
                <h5><a href="#">Tham quan trang trại sạch ở Việt Nam</a></h5>
                <p>Tuy nhiên, có những lúc bạn nên làm việc và buồn phiền, một số tuyệt vời và bình phương chúng để tìm kiếm các phương thức của thời đại</p>
                <a href="#" class="blog__btn">ĐỌC THÊM <span class="arrow_right"></span></a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="blog__item">
              <div class="blog__item__pic">
                <img src="../../../../assets/img/blog/blog-1.jpg" alt="">
              </div>
              <div class="blog__item__text">
                <ul>
                  <li><i class="fa fa-calendar-o"></i>Tháng 4 năm 2019</li>
                  <li><i class="fa fa-comment-o"></i> 5</li>
                </ul>
                <h5><a href="#">Mẹo nấu ăn giúp nấu ăn đơn giản</a></h5>
                <p>Tuy nhiên, có những lúc bạn nên làm việc và buồn phiền, một số tuyệt vời và bình phương chúng để tìm kiếm các phương thức của thời đại</p>
                <a href="#" class="blog__btn">ĐỌC THÊM <span class="arrow_right"></span></a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="blog__item">
              <div class="blog__item__pic">
                <img src="../../../../assets/img/blog/blog-4.jpg" alt="">
              </div>
              <div class="blog__item__text">
                <ul>
                  <li><i class="fa fa-calendar-o"></i>Tháng 4 năm 2019</li>
                  <li><i class="fa fa-comment-o"></i> 5</li>
                </ul>
                <h5><a href="#">Khoảnh khắc bạn cần loại bỏ tỏi khỏi thực đơn</a></h5>
                <p>Tuy nhiên, có những lúc bạn nên làm việc và buồn phiền, một số tuyệt vời và bình phương chúng để tìm kiếm các phương thức của thời đại</p>
                <a href="#" class="blog__btn">ĐỌC THÊM <span class="arrow_right"></span></a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="blog__item">
              <div class="blog__item__pic">
                <img src="../../../../assets/img/blog/blog-4.jpg" alt="">
              </div>
              <div class="blog__item__text">
                <ul>
                  <li><i class="fa fa-calendar-o"></i>Tháng 4 năm 2019</li>
                  <li><i class="fa fa-comment-o"></i> 5</li>
                </ul>
                <h5><a href="#">Mẹo nấu ăn giúp nấu ăn đơn giản</a></h5>
                <p>Tuy nhiên, có những lúc bạn nên làm việc và buồn phiền, một số tuyệt vời và bình phương chúng để tìm kiếm các phương thức của thời đại</p>
                <a href="#" class="blog__btn">ĐỌC THÊM <span class="arrow_right"></span></a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="blog__item">
              <div class="blog__item__pic">
                <img src="../../../../assets/img/blog/blog-6.jpg" alt="">
              </div>
              <div class="blog__item__text">
                <ul>
                  <li><i class="fa fa-calendar-o"></i>Tháng 4 năm 2019</li>
                  <li><i class="fa fa-comment-o"></i> 5</li>
                </ul>
                <h5><a href="#">Mẹo nấu ăn giúp nấu ăn đơn giản</a></h5>
                <p>Tuy nhiên, có những lúc bạn nên làm việc và buồn phiền, một số tuyệt vời và bình phương chúng để tìm kiếm các phương thức của thời đại</p>
                <a href="#" class="blog__btn">ĐỌC THÊM <span class="arrow_right"></span></a>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="product__pagination blog__pagination">
              <a href="#">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#"><i class="fa fa-long-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Blog Section End -->

