<div class="row px-0 mx-0" style="margin-top: 5px">
  <h2 class="d-flex" style="color: red">Customer List</h2>
  <div class="d-flex" style="margin-left: 52%">
    <input class="form-control" type="text" style="width: 100%" placeholder="Search by Name"
           [(ngModel)]="term">
    <button class="btn btn-outline-success" style="margin-left: 5%">Search</button>
  </div>
  <div class="row" style="margin-left: 3px; margin-right: 3px; overflow-x: auto">
    <button type="button" class="btn btn-outline-primary" [routerLink]="['/create-customer']">
      Add New Customer
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-plus-fill" fill="currentColor"
           xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
              d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"></path>
      </svg>
    </button>
    <button class="btn btn-outline-success font-italic font-weight-bolder border border-success" (click)="openAddNew()">
      <i class="fa fa-plus-square"></i> Add New Dialog Customer
    </button>
    <table class="table mt-3 table-striped" style="font-size: 17px">
      <thead>
      <tr>
        <th>Id Customer</th>
        <th>Name</th>
        <th>Birth Day</th>
        <th>ID Card</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Email</th>
        <th>Customer Type</th>
        <th colspan="2">Action</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let customer of customerList | paginate: { itemsPerPage: 4, currentPage: p }| filter:term">
        <td>{{customer.idCus}}</td>
        <td>{{customer.name}}</td>
        <td>{{customer.birthDay |date : 'dd/MM/yyyy'}}</td>
        <td>{{customer.idCard}}</td>
        <td>{{customer.phone}}</td>
        <td>{{customer.address}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.customerType}}</td>
        <td style="width: 220px; margin-left: 70px">
          <button type="button" class="btn btn-outline-primary" (click)="openDialogView(customer.id)" style="color: #ee0700">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"></path>
              <path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"></path>
            </svg>
          </button>
          <button type="button" class="btn btn-outline-primary" (click)="openDialogEdit(customer.id)"
                  style="margin-right: 3px; color: #ee0500">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-counterclockwise" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"></path>
              <path
                d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"></path>
            </svg>
          </button>
          <button type="button" class="btn btn-outline-primary" (click)="openDialogDelete(customer.id)" style="color: #ee1000">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
              <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
              <path fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
            </svg>
          </button>
          <!--          <input type="button" class="btn btn-sm btn-warning" (click)="openDialogEdit(customer.id)" value="Edit">-->
          <!--          <input type="button" class="btn btn-sm btn-danger" (click)="openDialogDelete(customer.id)" value="Delete"-->
          <!--                 style="margin-left: 10px">-->
        </td>
      </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p= $event" style="margin-left: 55%"></pagination-controls>
  </div>
</div>
