<!-- Page Preloder -->
<div id="preloder">
  <div class="loader">
  </div>
</div>
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
<button *ngIf="isShow" (click)="gotoTop()">👆</button>

<!--  <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"-->
<!--       data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">-->
<!--    <header class="topbar" data-navbarbg="skin5" style="background-color: #6AB963">-->
<!--      <nav class="navbar top-navbar navbar-expand-md navbar-dark" style="background-color: #6AB963">-->
<!--        <div class="navbar-header" data-logobg="skin5" style="background-color: #6AB963">-->
<!--          <a class="navbar-brand" style="background-color: #6AB963">-->
<!--            <b class="logo-icon" style="background-color: #6AB963">-->
<!--              <a href="./#" class="header__logo"><img src="../assets/img/logo.png" alt=""></a>-->
<!--            </b>-->
<!--          </a>-->
<!--        </div>-->
<!--        <div class="navbar-nav offset-8">-->
<!--          <a role="button" (click)="setCheck()" class="site-btn"><i class="fas fa-backward">&nbsp;Quay lại</i></a>-->
<!--        </div>-->
<!--      </nav>-->
<!--    </header>-->

<!--    <aside class="left-sidebar" data-sidebarbg="skin6">-->
<!--      <div class="scroll-sidebar">-->
<!--        <nav class="sidebar-nav">-->
<!--          <ul id="sidebarnav">-->
<!--            <li [routerLink]="['manager-goods']" class="sidebar-item mt-2"><a class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span-->
<!--              class="hide-menu" >Quản lí hàng hóa</span></a></li>-->

<!--            <li [routerLink]="['import-history']" class="sidebar-item mt-2"> <a class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false"><i-->
<!--              class="mdi mdi-account-network"></i><span class="hide-menu">Lịch sử nhập hàng</span></a></li>-->

<!--            <li [routerLink]="['export-history']" class="sidebar-item mt-2"> <a class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false"><i class="mdi mdi-border-all"></i><span-->
<!--              class="hide-menu">Lịch sử xuất hàng</span></a></li>-->

<!--            <li [routerLink]="['list-user']" class="sidebar-item mt-2"> <a class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false"><i class="mdi mdi-face"></i><span-->
<!--              class="hide-menu">Quản lí người dùng</span></a></li>-->

<!--            <li [routerLink]="['statistic']" class="sidebar-item mt-2"> <a class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false"><i class="mdi mdi-file"></i><span-->
<!--              class="hide-menu">Thống kê</span></a></li>-->
<!--          </ul>-->
<!--        </nav>-->
<!--      </div>-->
<!--    </aside>-->
<!--    <router-outlet></router-outlet>-->
<!--  </div>-->
<!--  <footer class="footer text-center" style="background-color: #dcdcdc">-->
<!--    Hello! Nguyễn Tiến Hải-->
<!--  </footer>-->

